L1/Bendra_atmintis.pdf
L1/mock_data.json
/L1/IF-8-1_OdinasT_L1_rez.txt
L1/Producer-Consumer.png
.idea/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

L1/b/cmake-build-debug/

IFK-8_OdinasT_L2_rez.txt
